.best-selling{
    padding-top: 8rem;
}
.best-selling h2 {
    font-size: 40px;
    color: rgb(199, 174, 141);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    text-align: center;
    text-decoration: dotted;
  }
  .slider {
    /* max-width: 100rem; */
    height: 50rem;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    margin-top: 1rem; 
  }
  
  .slide {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 1s;
    width: 90%;
    height: 50%;
    padding-left:80px;
    margin: 0 auto;
  }
  
  .slider__btn {
    position: absolute;
    top: 50%;
    z-index: 10;
    border: none;
    background: rgba(179, 172, 172, 0.122);
    font-family: inherit;
    color: #333;
    border-radius: 40px;
    width: 4rem;
    font-size: 3rem;
    cursor: pointer;
  }
  
  .slider__btn--left {
    left: 6%;
    transform: translate(-50%, -50%);
  }
  
  .slider__btn--right {
    right: 6%;
    transform: translate(50%, -50%);
  }
  
  .dots {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  
  .dots__dot {
    border: none;
    background-color: #b9b9b9;
    opacity: 0.7;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin-right: 1.75rem;
    cursor: pointer;
    transition: all 0.5s;
  }
  
  .dots__dot:last-child {
    margin: 0;
  }
  
  .dots__dot--active {
    background-color: #888;
    opacity: 1;
  }
  
  .bestselling-sofa {
    width: 70%;
    height: 50%;
    position: relative;
  }
  .sofa-img{
    width: 100%;
    border:2px solid #888;
    border-radius:40px ;
}
  
  .sofa-title{
    margin: -70px 40px 30px;
    font-size: 20px;
    color: #fff;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
  }
  .sofa-title h5{
    background: #827575;
    padding: 5px;
    transform: scale(1.07, 1.05) skewX(-15deg);
  }
  .button-sofa{
    padding: 5px 20px;
  }